# __pycache__
/__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
dst-snake/
# ignoring lightning and hf because torch is enough for now
lightning_rdf/
hf_rdf/
# rdf dirs
poc-rdf/
dstc2_rdf_data/
multiwoz_rdf_data/
multiwoz_data/
sfx_rdf_data/
# dpr package?
.dpr/
# debugging
debugging_scripts/
# checkpoints and logs
lightning_logs/
tb_logs/
wandb/
# csv output
*.csv
# env
#.env
poc-rdf-env/
# config yml
config.yml
old_config.yml
poc-rdf_requirements.txt
analyzing.py
# others
optim-snake/
*.png
unit-testing-snake/
results/models
data_analysis/
graphT5/
marcel_start.sh
*.sbatch
base_dockerfile
