# __pycache__
/__pycache__
*/__pycache__
*/*/__pycache__
dst-snake/
# rdf dirs
poc-rdf/
dstc2_rdf_data/
multiwoz_rdf_data/
multiwoz_data/
sfx_rdf_data/
# dpr package?
.dpr/
# checkpoints and logs
lightning_logs/
tb_logs/
wandb/
# csv output
*.csv
# env
#.env
poc-rdf-env/
# config yml
config.yml
poc-rdf_requirements.txt
analyzing.py
# others
helping_anvar/
*.png
unit-testing-snake/
results/models
